<p>
  <Strong>Title:</strong>
  <%= @article.title%>
</p>
<p>
  <Strong>Text:</strong>
  <%= @article.text%>
</p>
<h2>
  Comments
</h2>
  <%= render @article.comments%>
<p>
<%=render 'comments/form'%>
</p>
<%= link_to "Back", controller: 'articles'%>